body {
	font-family: 'Calibri';
	padding: 20px
}

/* GRID ELEMENTS */

.grid {
	display: grid
}

.grid-template {
	grid-template:
	"head head" 1fr
	"left-column right-column" 8fr
	/ 2fr 1fr
}

.gap {
	column-gap: 50px
}

.head {
	grid-area: head;
	text-align: center;
	color:rgb(54, 125, 218)
}

.head h1 {
	font-size: 42px;
	line-height: 90px;
	font-weight: normal;
	border: 2px solid grey
}

.head span {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: white;
	color: grey;
	padding: 0 10px;
	position: relative;
	bottom: 10px
}

.left-column {
	grid-area: left-column;
	font-size: 15px
}

.right-column {
	grid-area: right-column;
	font-size: 15px
}

/* CONTENT */
ul, p, h3, h1 {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px
}

.title {
	font-size: 22px;
	margin-bottom: 8px;
	font-style: italic;
	color:rgb(54, 125, 218);
	border-bottom: 2px solid grey
}

.date {
	font-style: italic
}

/* BULLET LISTS */

.bullet-list {
	padding-left: 20px;
	line-height: 20px;
	margin-bottom: 8px
}

.non-bullet-list {
	padding-left: 0px;
	line-height: 22px;
	list-style-type: none
}

/* SKILLS TABLE ELEMENTS */

table {
	width: 100%
}

td:nth-child(1) {
	width: 65%
}

td:nth-child(2) {
	width: 35%;
	display: grid;
	grid-template-columns: 15px 15px 15px 15px 15px;
}

/* SQUARE SKILLS */

.square {
	width: 10px;
	height: 10px;
	line-height: 0;
	background-color: white;
}

.active {
	background-color: rgb(54, 125, 218);
}

.inactive {
	background-color: rgb(206, 206, 206);
}